{% extends "default/site.html.twig" %}

{% block title %}Accueil du site{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("css/index.css") }}" rel="stylesheet" />
{% endblock %}


{% block content %}

    {{ parent() }}

    <h1>Site de vente (WEB 2021)</h1>
    <p>
        Bienvenue <b>{{ user.prenom ~ ' ' ~ user.nom }}</b>
    </p>
    {# avec un utilisateur non auth on affiche donc juste 'bienvenue' #}

    {% if userType == 0 %}
        <p>Vous n'êtes pas authentifié</p>
    {% elseif userType == 1 %}
        <p>Vous êtes un utilisateur authentifié</p>
    {% elseif userType ==2 %}
        <p>Vous êtes un administrateur !</p>
    {% endif %}

    <p><a href="{{ path("reverse") }}">tester le service</a></p>

{% endblock %}

{# Fichier par josué Raad et Florian Portrait #}
