<hr>

<h2>Menu : </h2>
<p> Nombre de produits dans la base : {{ nbProducts }} </p>

<ul>
    <li><a href="{{ path("index") }}">Accueil</a></li>

    {% if userType == 0 %}
        <li><a href="{{ path("login") }}">Connexion</a></li>
        <li><a href="{{ path("create_account") }}">Créer un compte</a></li>

    {% elseif userType == 1 %}
        <li><a href="{{ path("logout") }}">Déconnexion</a></li>
        <li><a href="{{ path("utilisateur_edit") }}">Gérer le profil</a></li>
        <li><a href="{{ path("produit_list") }}">Liste des produits</a></li>
        <li><a href="{{ path("panier") }}">Gérer le panier</a></li>

    {% elseif userType == 2 %}
        <li><a href="{{ path("logout") }}">Déconnexion</a></li>
        <li><a href="{{ path("utilisateur_list") }}">Gérer les Utilisateurs (admin)</a></li>
        <li><a href="{{ path("produit_list_admin") }}">Gérer les produits (admin)</a></li>
        <li><a href="{{ path("produit_new") }}">Ajouter un produit (admin)</a></li>
        <li><a href="https://fr.wikipedia.org/wiki/Amour_et_Amn%C3%A9sie">Amour et Amnésie</a></li>
    {% endif %}

</ul>

<hr>

{# Fichier par josué Raad et Florian Portrait #}
