{% extends "default/base.html.twig" %}

{% block title %} page du site {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("css/site.css") }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    {#Note sur les routes du header et du menu :
    On aurait pu écrire 'en dur' les actions à appeler pour afficher les fragments de template.
    Cela aurait évité que l'utilisateur puisse accéder à '/menu' par exemple.
    Mais par soucis de simplicité du code on a opté pour l'affichage des fragments via les routes #}

    <div id="header">
        {% block header %}
            {{ render(path("header")) }}
        {% endblock %}
    </div>

    {{ include('default/_display_flashes.html.twig') }}

    <div id="menu">

        {% block menu %}
            {{ render(path("menu")) }}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %} {% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
            {{ include("default/_footer.html.twig") }}
        {% endblock %}
    </div>

{% endblock %}

{# Fichier par josué Raad et Florian Portrait #}
