<hr>
<p>le menu : </p>

<p> Nombre de produits dans la base : {{ nbProducts }} </p>
<ul>
    <li>user : {{ userType }}</li>
    <li><a href="{{ path("index") }}">index</a></li>
    <li><a href="{{ path("create_account") }}">Créer un compte</a></li>

    {% if userType == 0 %}
        <li><a href="{{ path("login") }}">login</a></li>
    {% endif %}


    {% if userType == 1 %}
        <li><a href="{{ path("logout") }}">logout</a></li>
    {% endif %}


    {% if userType == 2 %}
        <li><a href="{{ path("logout") }}">login</a></li>
        <li><a href="https://fr.wikipedia.org/wiki/Amour_et_Amn%C3%A9sie">Amour et Amnésie</a></li>
    {% endif %}

</ul>
{# todo afficher différents liens en fonction de l'utilisateur connecté #}
