{% extends "base.html.twig" %}

{% block title %} page du site {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("css/site_vente.css") }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

    <div id="header">
        {% block header %}
            {{ render(path("header")) }}
        {% endblock %}
    </div>

    <div id="menu">
        {% block menu %}
            {{ render(path("menu")) }}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}
            <hr>
            <p>le content</p>
        {% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
            {{ include("_footer.html.twig") }}
        {% endblock %}
    </div>

{% endblock %}
